[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
django-widget-tweaks = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
